ion-content{
  --ion-background-color:#ffffff;
  --padding-end: 1.5rem;
  --padding-start: 1.5rem;

  h1 {
      margin: 0;
      padding: 1rem 0 1rem 0;
      font-size: 1.3rem;
      font-weight: 600;
  }
  
  h2 {
      font-size: 0.9rem;
      color: #8F8F8F;
      margin-top: 0;
      // margin-top: 1rem;
      margin-bottom: 0.5rem;
  }
  
  p {
      color: black;
      font-size: 0.95rem;
      text-align: justify;
  }
}

.chartHolder{
  padding-top: 1rem;
}

ion-grid {
  //--ion-grid-column-padding: 1rem;
  border-collapse: collapse;
  border-style: hidden;
  
  ion-row:first-child {
    
    font-weight: bold;
    text-align: center;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    padding: 1rem;
  }
  ion-col:last-child {
    border-right: 1px solid black;
    text-align: end;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}