
ion-header {
    --background: #eeeeee;
    padding: 0.5rem 0.5rem 0 0;

    ion-toolbar {
        --background: #eeeeee;

        ion-back-button {
            color: black;
        }

        ion-title {
            font-weight: 600;
            color: black;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

ion-content {
    --background: #eeeeee;
    --padding-top: 0.5rem;
}

.contentHolder {
    background: #ffffff;
    box-shadow: 0.2rem 0.4rem 0.7rem lightgrey;
    border-radius: 0.5rem;
    padding: 1rem 0 1rem 1rem;

    h5 {
        font-weight: 600;
        margin: 0;
        padding: 0;
        padding-top: 1.2rem;
    }

    h5:first-child {
        padding-top: 0.2rem;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .address {
        color: black;
        font-size: 0.9rem;
        padding-top: 0.8rem;
        padding-bottom: 1rem;
        font-weight: 400;
    }

    ion-list {
        padding-top: 0;
        padding-bottom: 0;
    }

    ion-item {
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;

        ion-label {
            .fname {
                color: #000000;
                font-size: 0.9rem;
                padding-bottom: 0.3rem;
                font-weight: 400;
            }
        
            .phone {
                color: #797676;
                font-size: 0.7rem;
            }
        }


        ion-button {
            width: 2.5rem;
            height: 2.5rem;
            --padding-start: 0.4rem;
            --padding-end: 0.4rem;
            --padding-top: 0.4rem;
            --padding-bottom: 0.4rem;
            --background: #3E9E87;
            --border-radius: 0.75rem;
            margin: 0;
    
            ion-icon {
                color: white;
                font-size: 1.95rem;
            }
        }
    }
}

#lowerContent {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    #exit {
        text-transform: none;
        color: #A54343;
        font-weight: 600;
        letter-spacing: 0.01rem;
    }
}
