
ion-header {
    ion-toolbar {
      --background: #115351;
      --color: #ffffff;
    }
}

ion-content{
    --padding-end: 1.5rem;
    --padding-start: 1.5rem;


}

ion-back-button {
    color: white;
}

ion-button {
    ion-icon {
        color: white;
    }
}

h1 {
    font-weight: 600;
    margin-bottom: 1rem;
}

ion-img::part(image) {
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba($color: #000000, $alpha: 0.2);
}

h2 {
    font-size: 1rem;
    color: #838383;
    margin-top: 1.5rem;
}