<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="tabs/home"
        text=""
        icon="chevron-back-sharp">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Регистрация ОСИ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div class="formHolder">
    <ion-item lines="none" button="false">
      <ion-label position="stacked">Город</ion-label>
      <ion-select id="city" placeholder="Выберите город" interface="popover" required>
        <ion-select-option *ngFor="let city of cities">
          {{ city.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Адрес</ion-label>
      <ion-input id="address" placeholder="Введите адрес" required></ion-input>
    </ion-item>
  
    <ion-item id="add-doc" lines="none">
      <ion-label id="add-doc-label" slot="start">Документы</ion-label>
      <ion-button id="add-doc-button" slot="end">Добавить</ion-button>
    </ion-item>
  
    <div class="docs">
        <ion-thumbnail>
          <img src="../../assets/imgs/icon-pdf.png">
        </ion-thumbnail>
    </div>
  
    <ion-button id="joinBtn" expand="block">
      <ion-label>Создать</ion-label>
    </ion-button>
  </div>
</ion-content>