<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="tabs/home"
        text=""
        icon="chevron-back-sharp">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Регистрация ОСИ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  

  
  <ion-item lines="none" button="false">
    <ion-label position="stacked">Город</ion-label>
    <ion-select id="city" required cancelText="Отмена" okText="Выбрать" placeholder="Выберите город">
      <ion-select-option *ngFor="let city of cities">
        {{ city.title }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked"> Адрес</ion-label>
    <ion-input id="address" required placeholder="Введите адрес"></ion-input>
  </ion-item>

  <ion-button id="joinBtn" expand="block">
    <ion-label>
      Создать
    </ion-label>
  </ion-button>
  


</ion-content>