<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="services"
        text=""
        icon="chevron-back-sharp">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Добавить службу</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div class="formHolder">
    <ion-item lines="none">
      <ion-label position="stacked">Название</ion-label>
      <ion-input type="text" [(ngModel)]="title" placeholder="Название службы" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Номер телефона</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" simpleMask="+7 (999) 999 9999" placeholder="Номер телефона службы" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">WhatsApp</ion-label>
      <ion-item id="myCheckbox" lines="none">
        <ion-label>Есть ли на этом номере WhatsApp</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="isWhatsApp"></ion-checkbox>
      </ion-item>
    </ion-item>

    <ion-button id="joinBtn">
      <ion-label>Добавить</ion-label>
    </ion-button>
  </div>
</ion-content>
