<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Введите номер квартиры</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div class="formHolder">
    <ion-item lines="none">
      <ion-label position="stacked">Блок или номер дома</ion-label>
      <ion-input [(ngModel)]="this.block" placeholder="Введите блок или номер дома" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Номер квартиры</ion-label>
      <ion-input [(ngModel)]="this.flat" placeholder="Введите номер квартиры" required></ion-input>
    </ion-item>

    <ion-button [disabled]="!this.block || !this.flat" class="ion-no-margin" (click)="send()">
      <ion-label>Отправить запрос</ion-label>
    </ion-button> 
  </div>
  
  <div class="text">
    <p>Ваш запрос будет рассмотрен<br> Председателем ОСИ</p>
  </div>


</ion-content>