<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Введите номер квартиры</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
<ion-list class="ion-no-padding" lines="none">
  <ion-item lines="none">
    <ion-label position="stacked">Блок или номер дома</ion-label>
    <ion-input inputmode="text" type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Номер квартиры</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item lines="none">
      <ion-button class="ion-no-margin">
        <ion-label>
          Отправить запрос
        </ion-label>
      </ion-button>
  </ion-item>  
</ion-list>
  
<div class="text">
  <p>Ваш запрос будет рассмотрен Председателем ОСИ</p>
</div>


</ion-content>