ion-header {
    --background: #eeeeee;
    padding-top: 0.5rem;
    
    ion-toolbar {
        --background: #EEEEEE;

        ion-title {
            color: black;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

ion-content{
    --ion-background-color:#EEEEEE;
    --padding-top: 0.1rem;
}

.formHolder {
    padding: 0;
    margin: 0;
}

ion-item {
    width: 100%;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-start: 0;
    --padding-bottom: 0.6rem;
    --padding-end: 0;
    --padding-top: 0;
    --ripple-color: transparent;

    ion-label {
        padding-left: 0.5rem;
        color: #555555;
        font-size: 1.15rem;
        font-weight: 600;
    }

    ion-input {
        width: 100%;
        background: white;
        border-radius: 0.5rem;
        margin-top: 0.8rem;
        font-weight: 600;
        --padding-start: 0.8rem;
        --padding-bottom: 0.8rem;
        --padding-end: 0.8rem;
        --padding-top: 0.8rem;
        --placeholder-color: gray;
        --placeholder-opacity: 1;
        --placeholder-font-weight: 500;
    }
}

ion-item.item-has-focus > ion-label{
    color: #555555 !important;
}

ion-button {
    width: 100%;
    text-transform: none;
    --background: linear-gradient(90deg, #ba3bbe, #6f34cc);
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    --border-radius: 0.5rem;
    margin: 0.7rem 0 1rem 0;
    font-size: 1rem;
}

.text {
    width: 100%;

    p {
        text-align: center;
        font-weight: 500;
        padding: 1rem;
        font-size: 0.88rem;
    }
}

// ion-list{
    //     height: 35%;
    //     display: flex;
    //     justify-content: space-between;
    //     flex-direction: column;
    //     background: #EEEEEE;

    //     ion-item{
    //         --highlight-color-focused: black;

    //         --background: #EEEEEE;
    //         ion-input{
    //             margin-top: 1rem;
    //             background-color: white;
    //             border-radius: 0.5rem;
    //             --padding-start: 1rem;
    //             --padding-end: 0.6rem;
    //             --padding-bottom: 0.6rem;
    //             --padding-top: 0.6rem;
    //             font-size: 0.9rem;
    //             font-weight: 600;
    //         }
    //         ion-label{
    //             padding-left: 0.2rem;
    //             color: #555555;
    //             font-size: 1.15rem;
    //             font-weight: 600;
    //         }
    //     }

    //     ion-item.item-has-focus > ion-label{
    //         color: #555555 !important;
    //     }
    // }

    //     ion-button{
    //         width: 100% !important;
    //         --border-radius: 0.5rem !important;
    //         // --padding-top: 2rem;
    //         height: 100%;
            
    //         text-transform: none;
    //         --background: linear-gradient(135deg, #ba3bbe, #6f34cc);
            

    //         ion-label{
                
    //             // margin-top: 2rem;
    //             // margin-bottom: 2rem;
    //             font-size: 0.9rem !important;
    //             color: white !important;
    //             font-weight: 200 !important;
    //         }
    //     }
    
    // .text{
    //     display: flex;
    //     justify-content: center;
    //     width: 100%;
        
    //     p{
    //         padding: 5%;
    //         text-align: center;
    //         font-weight: 500;
    //     }
    // }