<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="tabs/home"
        text=""
        icon="chevron-back-sharp">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Заявки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div class="text">
    <h5>Добавить заявку</h5>
  </div>
  <div class="buttonHolder">
    <ion-button id="join" [routerLink]="['/add-request']">Для cебя</ion-button>
    <ion-button id="create" [routerLink]="['/add-request']">Для ОСИ</ion-button>
  </div>

  <div id="noList" *ngIf="true; else filledList"> 
    <p>Нет заявок</p>
  </div>

  <ng-template #filledList>     

  </ng-template>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="addBtn" [routerLink]="['/add-report']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
