ion-header {
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
  
    ion-toolbar {
      --background: white;
      padding: 0;
    }
    ion-icon {
      font-size: 2.7rem;
    }
    ion-title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-right: 0;
      padding-left: 0;
    }
    ion-button {
      z-index: 1;
      // --margin-right: -1rem;
      // --margin-end: -1rem;
  
      --padding-start: 0;
      --padding-end: 0;
    }
  }

ion-content{
    --background: white
}

.content{
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.outer{
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#codeText{
    width: 70%;
    opacity: 0.8;
}

.textHolder{
    background-color: white;
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;

    p{
        width: 70%;
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.7;
    }
}

.buttonHolder{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    button{
        width: 100%;
        background: linear-gradient(135deg, #ba3bbe, #6f34cc);
        padding: 1.5rem;
        border-radius: 1rem;
        color: white;
        font-size: 1rem;
        font-weight: 550;
    }

    button:disabled{
        background: linear-gradient(135deg, #b08eb1, #b2a5c9);
    }
}

.keyBoard{
    padding: 1rem 1rem 2rem 1rem;
    background-color: #eeeeee;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;

    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: white;
        padding: 0.5rem 0;
        border-radius: 10px;

        ion-icon{
            font-size: 3rem;
        }
    }
}

.inputHolder{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-input{
        max-width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 5px;
    }
}
