ion-header {
    ion-toolbar {
      --background: #115351;
      --color: #ffffff;
    }
}

ion-back-button {
    color: white;
}

.formHolder {
    width: 100%;
    padding: 1rem;
}

.inputHolder {
    width: 100%;
  
    ion-input {
      border: 1px solid black;
      border-radius: 0.3rem;
      --padding-start: 0.5rem;
      --padding-end: 0.5rem;
      margin: 0.3rem 0 0.8rem 0;
    }

    ion-textarea {
        border: 1px solid black;
        border-radius: 0.3rem;
        --padding-start: 0.5rem;
        --padding-end: 0.5rem;
        margin: 0.3rem 0 0.8rem 0;
      }
}

ion-label {
    color: #054d45;
}

ion-button {
    --background: #115351;
}