<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Введите номер телефона</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="outer">
    <div class="imageHolder">
      <img src="https://cdn-icons-png.flaticon.com/512/2971/2971416.png">     
    </div>
    <div class="textHolder">
      <p>На который будет отправлен 4-значный код</p>
    </div>
    <div class="inputHolder">
      <div class="left">
        <ion-label>Номер телефона</ion-label>
        <ion-input readonly="true" autofocus="true" [(ngModel)]="text"></ion-input>
      </div>
      <button>Продолжить</button>
    </div>
  </div>
    <div class="keyBoard">
      <div *ngFor="let item of keyboard" class="item" (click)="setVal(item)">{{item}}</div>
      <div class="item" (click)="back()">
        <ion-icon name='backspace-outline'></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
