<ion-split-pane contentId="main">

  <ion-menu contentId="main">
    <ion-header class="ion-no-border">
      <div class="header">
        <ion-icon src="../../assets/svg/custom-icons/logo.svg"></ion-icon>
        <p>Мой дом</p>
      </div>
    </ion-header>
    <ion-content>
      <div class="content">
        <ion-menu-toggle>
          <div class="item" routerLink="/tabs/home" routerDirection="root">
            <ion-icon src="../../assets/svg/custom-icons/home.svg"></ion-icon>
            <p>Главная</p>
          </div>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <div class="item" routerLink="/tabs/profile" routerDirection="root">
            <ion-icon src="../../assets/svg/custom-icons/profile.svg"></ion-icon>
            <p>Мой профиль</p>
          </div>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <div class="item" routerLink="/tabs/settings" routerDirection="root">
            <ion-icon src="../../assets/svg/custom-icons/settings.svg"></ion-icon>
            <p>Настройки</p>
          </div>
        </ion-menu-toggle>


        <ion-menu-toggle>
          <div class="item" routerLink="/osi-info" routerDirection="root">
            <ion-icon src="../../assets/svg/custom-icons/people.svg"></ion-icon>
            <p>Информация об ОСИ</p>
          </div>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <div class="item">
            <ion-icon name="log-out"></ion-icon>
            <p>Выйти из аккаунта</p>
          </div>          
        </ion-menu-toggle>

      </div>
  </ion-content>

  </ion-menu>

  <ion-tabs id="main">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Главная</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="announcements">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Обьявления</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <ion-icon name="chatbox-outline"></ion-icon>
        <ion-label>Чат</ion-label>
      </ion-tab-button>
    </ion-tab-bar>  
  </ion-tabs>

</ion-split-pane>

