<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Главная</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Чат</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="announcements">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Обьявления</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
