<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="tabs/home"
        text=""
        icon="chevron-back-sharp">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Голосования</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div id="noList" *ngIf="votes.length == 0; else filledList"> 
    <p>Нет голосований</p>
  </div>

  <ng-template #filledList>     
    <ion-list>
      <ion-item lines="none" *ngFor="let vote of votes" (click)="presentModal(vote)">
          <ion-label class="ion-no-padding ion-no-margin">
            <h2>{{ vote.name }}</h2>
            <p>{{ vote.createdTime }}</p>
          </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>


</ion-content>
