ion-header {
    --background: #EEEEEE;
    padding: 0.5rem 0.5rem 0 0.5rem;

    ion-toolbar {
        --background: #EEEEEE;

        ion-menu-button{
            font-size: 1.7rem;
        }

        ion-title { 
            font-weight: 600;
            color: black;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}

ion-content {
    --ion-background-color:#EEEEEE;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
}

#noList {
    p {
        width: 100%;
        text-align: center;
        color: grey;
    }
}

ion-list {
    background: transparent;
    padding: 0 0.5rem 0.5rem 0.5rem;

    ion-item {
        align-items:flex-start;
        --background: white;
        border-radius: 0.6rem;
        --padding-top: 0.6rem;
        --padding-bottom: 0.6rem;
        --padding-start: 0.6rem;
        --padding-end: 0.3rem;
        margin-bottom: 0.8rem;
        box-shadow: 0.1rem 0.1rem 0.2rem lightgrey;
        
        ion-label {    
            h2{
                font-weight: 600;
                font-size: 1rem;
                padding-bottom: 0.5rem;
                margin: 0;
            }
        
            .text {
                font-size: 0.75rem;
                color: black;
                padding-bottom: 0.5rem;
                margin: 0;
            }
        
            .date {
                font-size: 0.75rem;
                color: #8F8F8F;
                padding: 0;
                margin: 0;
            }
        }

        ion-badge{
            --background: #BA5050;
            font-size: 0.7rem;
            font-weight: 400;
            border-radius: 0.45rem;
            padding: 0.25rem 0.4rem 0.25rem 0.4rem;
            margin: 0;
        }
    }
}

#addBtn {
    --background: linear-gradient(135deg, #ba3bbe, #6f34cc);
    margin-right: 0.5rem;
}