<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon src="../../assets/svg/custom-icons/burger-menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Объявления</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div>
    
  </div>

  <div id="noList" *ngIf="announcements.length == 0 && false; else filledList"> 
    <p>Нет объявлений</p>
  </div>

  <ng-template style="padding: 1rem;" #filledList>
    <ion-list class="ion-no-padding">
      <ion-item lines="none" *ngFor="let announcement of announcements; let id = index;" (click)="presentModal(announcement)">
        <ion-label class="ion-no-padding ion-no-margin">
          <h2>{{ announcement.title }}</h2>
          <p class="text">{{ announcement.description }}</p>
          <p class="date">{{ announcement.date }}</p>
        </ion-label>
        <ion-badge slot="end" color="danger">
          Новое
        </ion-badge>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-fab *ngIf="false" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="addBtn" [routerLink]="['/add-announcement']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
