<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="#"
        text=""
        icon="chevron-back-sharp">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Объявления</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="noList" *ngIf="announcements.length == 0; else filledList"> 
    <p>Нет объявлений</p>
  </div>

  <ng-template #filledList>
    <ion-list>
      <ion-item *ngFor="let announcement of announcements; let id = index;" (click)="presentModal(announcement)">
          <ion-label>
            <h2>{{ announcement.title }}</h2>
            <p>{{ announcement.description }}</p>
            <p>{{ announcement.date }}</p>
          </ion-label>
            <ion-badge slot="end" color="danger">
              Новое
            </ion-badge>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="addBtn" [routerLink]="['/add-announcement']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
