.exitText {
    color: #ff4961;
}

ion-content{
    --overflow: hidden
}

ion-menu{
    --max-width: 70%
}

.menuContentHolder{
    padding-top: 2rem;

    ion-label{
        font-size: 1rem;
        font-weight: 600;
    }
}