ion-header {
    --background: #EEEEEE;
    padding: 0.5rem 0.5rem 0 0;
    
    ion-toolbar {
        --background: #EEEEEE;

        ion-back-button {
            color: black;
        }

        ion-title {
            font-weight: 600;
            color: black;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

ion-content{
    --ion-background-color:#EEEEEE;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
}

#noList {
    p {
        width: 100%;
        text-align: center;
        color: grey;
    }
}

ion-list {
    background: transparent;
    padding: 0 0.5rem 0.5rem 0.5rem;

    ion-item {
        align-items:flex-start;
        --background: white;
        border-radius: 0.6rem;
        --padding-top: 0.6rem;
        --padding-bottom: 0.6rem;
        --padding-start: 0.6rem;
        --padding-end: 0.6rem;
        margin-bottom: 0.8rem;
        box-shadow: 0.1rem 0.1rem 0.2rem lightgrey;
    
        ion-label {   
            h2 {
                font-weight: 600;
                font-size: 1rem;
                padding-bottom: 0.5rem;
                margin: 0;
            }
        
            p {
                font-size: 0.75rem;
                color: #8F8F8F;
                padding: 0;
                margin: 0;
            }
        }
    }
}

#addBtn {
    --background: linear-gradient(135deg, #ba3bbe, #6f34cc);
    margin-right: 0.5rem;
}
