<ion-header>
	<ion-toolbar>
		<!-- <ion-button class="no-padding" fill="clear" slot="start" (click)="dismiss()">
			<ion-icon name="chevron-back-sharp"></ion-icon>
		</ion-button> -->

		<!-- <ion-buttons slot="start">
			<ion-back-button
			  defaultHref="login"
			  text=""
			  icon="chevron-back-sharp" (click)="dismiss()">
			</ion-back-button>
		  </ion-buttons> -->

		<ion-button class="no-padding" fill="clear" slot="end" (click)="dismiss()">
			<ion-icon name="close-sharp"></ion-icon>
		</ion-button>
		<ion-title>Польз. соглашение</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<h3>1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
	1.1. Настоящее Соглашение регламентирует отношения между товариществом с ограниченной ответственностью «Dream tech»
	(далее – Исполнитель, ТОО) и Пользователем (дееспособным физическим лицом), надлежащим образом присоединившимся к
	Соглашению при установлении приложения «Dom.kz» и регистрации в целях использования Приложения. <br>
	1.2. Мобильное приложение «Dom.kz» является программным продуктом (далее – Приложение), разработанным для мобильных
	устройств, доступным Пользователю через Магазин приложений на условиях полного соблюдения Соглашения. Приложение
	работает под управлением операционных систем Android и Apple iOS. Права интеллектуальной собственности на Приложение,
	его элементы и функционал принадлежат ТОО. <br>
	1.3. Установка Приложения в мобильное устройство Пользователя является акцептом настоящего Соглашения и подтверждением
	согласия Пользователя с его условиями. Доступ к Приложению, использование Приложения и/или совершение любых иных
	действий в Приложении Пользователем означает, что Пользователь принимает и обязуется соблюдать все условия настоящего
	Соглашения. <br>
	1.4. Условия настоящего Соглашения в соответствии с законодательством Республики Казахстан является офертой
	адресованной любым лицам. Срок действия Оферты не ограничен. <br>
	1.5. В случае если Пользователь не согласен с условиями настоящего Соглашения, он обязуется немедленно прекратить
	использование Приложения. <br>
	1.9. Пользователь несет персональную ответственность за проверку настоящего Соглашения при установлении Приложения.
	<br>
	<h3>2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ</h3>
	2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение: <br>
	2.1.1. Приложение или «Dom.kz» – мобильное приложение, разработанное ТОО для мобильных устройств операционных систем
	iOS и Android, в целях обеспечения возможности взаимодействия собственников имущества кондоминиума для обеспечения
	сохранности и улучшений объекта кондоминиума установленным законодательством порядке. <br>
	2.1.2. Соглашение – настоящее пользовательское соглашение об использовании Приложения или «Dom.kz». <br>
	2.1.3. Пользователь – физическое лицо, загрузившее Приложение и создавшее учётную запись в Приложении, прошедшее
	авторизацию, давшее согласие на обработку персональных данных и установившее Приложение на своё мобильное устройство.
	<br>
	2.1.4. Председатель Объединения собственников имущества - лицо, официальный представитель Объединения собственников
	имущества (кондоминиума или объекта подлежащего регистрации в качестве объекта кондоминиума), который получает доступ
	к административному функционалу Приложения в пределах зарегистрированного им объекта кондоминиума для размещения,
	редактирования, удаления информации, объявлений, сведений и проектов решений и т.д.(исходя из функционала и
	возможностей Приложения). <br>
	2.1.5. Функционал/вкладки – основной раздел Приложения, где визуально представлен функционал приложения/вкладки при
	загрузке которых реализуются функции Объединения и волеизъявления всех участников (собственников имущества)
	кондоминиума. <br>
	2.1.6. Техническая поддержка – служба, которая обеспечивает поддержку в режиме рабочего дня согласно распорядку
	установленного в ТОО и в порядке очередности. <br>
	<h3>3. ПРЕДМЕТ СОГЛАШЕНИЯ</h3>
	3.1. Предметом настоящего Соглашения является предоставление Пользователю доступа к содержащимся в Приложении
	функционалу и возможностям, предусмотренным в Приложении (чат, объявления, решения, находки, отчетность, информация о
	ремонте и т.д., не ограничиваясь, так как возможности и функционал приложения будут находится в процессе
	совершенствования). <br>
	3.4. Доступ к Приложению и/или Сайту может предоставляться на платной основе, допускается предоставление тестового
	периода не более 14 дней. <br>
	<h3>4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>
	4.1. Приложение (ТОО) вправе: <br>
	4.1.1. Изменять пользовательское соглашение Приложения по его усмотрению, а также изменять функционал и возможности
	Приложения. Изменения вступают в силу с момента публикации новой версии Приложения на электронных торговых площадках
	Appstore и Playmarket. <br>
	4.1.2. Ограничить доступ к Приложению, в случае нарушения Пользователем условий, предусмотренных настоящим Соглашением
	или при совершении каких либо действий приводящих к отрицательным факторам при функционирования Приложения или его
	использования другими Пользователями. <br>
	4.1.3. Пересматривать размер оплаты за предоставление доступа к использованию Приложения Пользователями конкретного
	объекта кондоминиума или ограничивать возможности и функционал Приложения, при этом такое изменение должно быть
	доведенным до уполномоченных пользователей на момент пересмотра стоимости как минимум за 7 дней. <br>
	4.2. Пользователь вправе: <br>
	4.2.1. Получить доступ к использованию Приложения после соблюдения требований о регистрации. <br>
	4.2.2. Пользоваться всеми имеющимися в Приложении функциями и возможностями. <br>
	4.2.3. Пользоваться Приложением исключительно в целях Объединения собственников имущества объекта кондоминиума и
	проч.целях не противоречащих Соглашению и законодательству Республики Казахстан. <br>
	4.3. Пользователь Приложения обязуется: <br>
	4.3.1. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Приложения.
	<br>
	4.3.2. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Приложения. <br>
	4.3.3. Избегать любых действий, в результате которых может быть нарушена конфиденциальность каких-либо данных
	связанных с использованием Приложения. <br>
	4.3.4. Не использовать функции и возможности Приложения с целью загрузки информации или сведения (в текстовом или
	цифровом формате), которые являются незаконным, нарушают любые права третьих лиц, пропагандируют насилие, жестокость,
	ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам, содержит
	недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, государственных органов; <br>
	<h3></h3> 5. ИСПОЛЬЗОВАНИЕ ПРИЛОЖЕНИЯ
	5.1. Пользователь обязуется исполнять нижеследующие правила пользования Приложением: <br>
	5.1.1. До момента регистрации Пользователь обязан ознакомиться с условиями настоящего Соглашения, в случае несогласия
	то такой Пользователь должен приостановить процедуру регистрации и соответственно не получать возможность
	использования функционала и возможностей Приложения. <br>
	5.1.2. В целях получения доступа к функционалу и возможностям Приложения, необходимо зарегистрироваться как того
	требует последовательность процедур. Пользователь несет самостоятельную ответственность за достоверность и
	правильность вносимых данных. В случае использования поддержки от Приложения при внесении данных с уже
	зарегистрированными пользователями, за достоверность данных несет лицо предоставившее такие данные. <br>
	5.1.3. Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи,
	включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи. <br>
	5.1.4. Пользователь должен незамедлительно уведомить Исполнителя о несанкционированном использовании его учётной
	записи или пароля. <br>
	<h3>6. СТОИМОСТЬ УСЛУГ</h3>
	6.1. Стоимость услуг Исполнителя по предоставлению доступа к функционалу и возможностям Приложения оговариваются
	отдельными соглашениями между органами управления объектов кондоминиума. <br>
	<h3>7. ОТВЕТСТВЕННОСТЬ</h3>
	7.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого
	положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя,
	Исполнителем не возмещаются. <br>
	7.2. Исполнитель не несет ответственности за: <br>
	7.2.1. Задержки или сбои в процессе использования функционала и возможностей Приложения, возникшие вследствие
	непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных
	сферах имеющих влияние на функционирования Приложения. <br>
	<h3>8. СОГЛАСИЕ НА СБОР, ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
	8.1. В соответствии с законодательством, регламентирующим отношения, связанные со Сбором, Обработкой Персональных
	данных при совершении Пользователем Акцепта, в порядке определенном настоящим Соглашением, Пользователь дает
	безусловное согласие Исполнителю на Сбор, Обработку, трансграничную передачу (при необходимости) Персональных данных
	Пользователя, не противоречащими законодательству способами, в целях, регламентированных настоящим Соглашением, и в
	источниках, в том числе общедоступных, по усмотрению Исполнителя, в связи с уже существующими или возникающими с
	Исполнителем или возникающих в будущем любых гражданско-правовых и (или) иных правоотношений. <br>
	8.2. Под Персональными данными Пользователя определили нижеследующие сведения, относящиеся к Пользователю, а также
	происходящие в них в будущем изменения и (или) дополнения, зафиксированные на электронном, бумажном и (или) ином
	материальном носителе, включая, но, не ограничиваясь: фамилия, имя, отчество (при наличии), адрес объекта
	кондоминиума/квартиры, мобильный номер телефона, электронная почта..
	Сбор, Обработка и трансграничная передача (при необходимости) Персональных данных Пользователя осуществляется
	Исполнителем для следующих целей, включая, но, не ограничиваясь: в целях надлежащего исполнения настоящего Соглашения,
	а также прав и обязанностей, возложенных на Исполнителя законодательством; для внутреннего контроля и учета
	Исполнителя; для судебной и внесудебной защиты прав Исполнителя: в случае нарушения обязательств по соответствующим
	сделкам; в случае возникновения спорных ситуаций, включая спорные ситуаций с третьими лицами; для проведения
	исследований, направленных на улучшение качества Услуг; для проведения маркетинговых программ, статистических
	исследований, а также для продвижения Услуг путем осуществления прямых контактов с Пользователем с помощью различных
	средств связи, включая, но, не ограничиваясь: уведомления посредством возможностей Приложения, рассылка, электронная
	почта, телефонная и т.п. <br>
	8.3. Цель обработки персональных данных Пользователя — предоставление доступа Пользователю к функционалу и
	возможностям Приложения, информации и/или материалам, содержащимся в Приложении. Данные Пользователей, собираемые с
	помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей в Приложении с целью
	улучшения качества и возможностей Приложения. Заполняя соответствующие формы и/или отправляя свои персональные данные,
	Пользователь выражает свое согласие с условиями Пользовательского соглашения, в том числе в целях обработки данных.
	<br>
	8.4. Пользователь, передавая Исполнителю Персональные данные по открытым каналам связи, осознает и принимает на себя
	риск несанкционированного получения их иными лицами и связанные с этим последствия. Исполнитель не несет
	ответственности при несанкционированном получении Персональных данных иными лицами при их передачи открытыми каналами
	связи. <br>
	<h3>9. РАЗРЕШЕНИЕ СПОРОВ</h3>
	9.1. В случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием
	до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).<br>
	9.2. Получатель претензии в течение 30 (тридцати) календарных дней со дня ее получения, письменно уведомляет заявителя
	претензии о результатах рассмотрения претензии. <br>
	9.3. При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих
	прав, которые предоставлены им действующим законодательством Республики Казахстан, при этом Исполнитель во избегании
	развития спора оставляет за собой право исключить такого Пользователя из Приложения до урегулирования возникшего
	спора.<br>
	<h3>10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h3>
	10.1. Настоящее Соглашение, а также все правоотношения, возникающие в связи с исполнением настоящего Соглашение,
	регулируются и подлежат толкованию в соответствии с законодательством Республики Казахстан.<br>
	10.2. Приложение ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод
	человека и гражданина при обработке передаваемых Пользователем персональных данных, в том числе защиты прав на
	неприкосновенность частной жизни.<br>
	10.2. Настоящее Соглашение вступает в силу в момент присоединения Пользователя к Соглашению, т.е. при совершении
	Пользователем Акцепта в порядке, регламентированном настоящим Соглашением, и действует до момента полного исполнения
	Сторонами принятых на себя обязательств.
</ion-content>