<ion-content [fullscreen]="true">
  <div id="slideShow">
    <ion-slides pager="true" [options]="slideOpts" style="height: 100%;" #mySlider (ionSlideReachEnd)="reachedEnd()">
      <ion-slide>
        <img src="assets/svg/welcome_page1.svg">
        <h2 class="title">Ваш дом в вашем телефоне</h2>
        <p>Вся информация о вашем доме, у вас в кармане</p>
      </ion-slide>
      <ion-slide>
        <img src="assets/svg/welcome_page2.svg">
        <h2 class="title">Коллективные решения</h2>
        <p>Создавайте голосования и принимайте решения коллективно</p>
      </ion-slide>
      <ion-slide>
        <img src="assets/svg/welcome_page3.svg">
        <h2 class="title">Будьте на связи</h2>
        <p>Общайтесь с жителями своего дома в онлайн-чате</p>
      </ion-slide>
      <ion-slide>
        <img src="assets/svg/welcome_page4.svg">
        <h2 class="title">Финансовая прозрачность</h2>
        <p>Просматривайте финансовые отчеты</p>
      </ion-slide>
      <ion-slide>
        <img src="assets/svg/welcome_page5.svg">
        <h2 class="title">Ваш дом в вашем телефоне</h2>
        <p>Размещайте ваши находки или потери в "Бюро находок"</p>
      </ion-slide>
    </ion-slides>
    <!-- <span id="continue" *ngIf="show" (click)="go()">
      Продолжить
    </span> -->
    <ion-button (click)="onClick()" id="next" fill="clear">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
  
</ion-content>
