ion-header {
    ion-toolbar {
      --background: #115351;
      --color: #ffffff;
    }
}

ion-back-button {
    color: white;
}


#noList {
    p {
        width: 100%;
        text-align: center;
        color: grey;
    }
}

ion-label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    p {
        color: #054d45;
    }
}

ion-button[shape=circle] {
    --border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

#whatsappBtn {
    --background: rgb(41, 160, 41); //#2ea929;
}

#callBtn {
    --background: #0f544f;
    --padding-start: 0.6rem; 
    --padding-end: 0.6rem;
    --padding-top: 0.6rem;
    --padding-bottom: 0.6rem;
}

#removeBtn {
    --background: #e42236;
}

#addBtn {
    --background: #0f544f;
}