<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="content">
    <div class="buttonHolder">
      <ion-button style=" background-size:cover"  id="join">Присоединиться</ion-button>
      <ion-button style=" background-size:cover" id="create">Создать</ion-button>
    </div>
    <!-- <div class="block" id="join">
      <h1>Присоединиться</h1>
    </div>
    <div class="block" id="create">
      <h1>Создать</h1>
    </div>-->
  </div> 
  
</ion-content>
