<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon src="../../assets/svg/custom-icons/burger-menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <div slot="end" class="profile">
      <div class="left">
        <p class="name">Temirlan Kazturganov</p>
        <p class="role">Совет дома</p>
      </div>
      <div class="right">
        <ion-img src="../../assets/svg/custom-icons/avatar.svg"></ion-img>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="content">
    <div class="text">
      <h5>Вы не состоите в ОСИ</h5>
    </div>
    <div class="buttonHolder">
      <ion-button id="join">Присоединиться</ion-button>
      <ion-button id="create">Создать ОСИ</ion-button>
    </div>
    <!-- <div class="block" id="join">
      <h1>Присоединиться</h1>
    </div>
    <div class="block" id="create">
      <h1>Создать</h1>
    </div>-->
  </div> 
  
</ion-content>
