<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon src="../../assets/svg/custom-icons/burger-menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <div slot="end" class="profile">
      <div class="left">
        <p class="name">Temirlan Kazturganov</p>
        <p class="role">Совет дома</p>
      </div>
      <div class="right">
        <ion-img src="../../assets/svg/custom-icons/avatar.svg"></ion-img>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="content">
    <div class="notification">
      <div class="top">
        <p class="title">Отключение воды</p>
        <ion-icon name="close-outline"></ion-icon>
      </div>
      <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>

    <div class="services-flexs">
      <div class="services-flexs-child" (click)="goPage('services')">
          <div class="top">
            <ion-icon src="../../assets/svg/custom-icons/services.svg"></ion-icon>
          </div>
          <div class="bottom">
            <p>Службы</p>
          </div>
      </div>
      <div class="services-flexs-child" (click)="goPage('requests')">
          <div class="top">
            <ion-icon src="../../assets/svg/custom-icons/requests.svg"></ion-icon>
          </div>
          <div class="bottom">
            <p>Заявки</p>
          </div>
      </div>
      <div class="services-flexs-child" (click)="goPage('reports')">
          <div class="top">
            <ion-icon src="../../assets/svg/custom-icons/reports.svg"></ion-icon>
          </div>
          <div class="bottom">
            <p>Отчеты</p>
          </div>
      </div>
      <div class="services-flexs-child" (click)="goPage('search')">
          <div class="top">
            <ion-icon src="../../assets/svg/custom-icons/search.svg"></ion-icon>
          </div>
          <div class="bottom">
            <p>Бюро находок</p>
          </div>
      </div>
      <div class="services-flexs-child" (click)="goPage('repairs')">
          <div class="top">
            <ion-icon src="../../assets/svg/custom-icons/repair.svg"></ion-icon>
          </div>
          <div class="bottom">
            <p>Ремонт</p>
          </div>
      </div>
      <div class="services-flexs-child" (click)="goPage('voting')">
        <div class="top">
          <ion-icon src="../../assets/svg/custom-icons/vote.svg"></ion-icon>
        </div>
        <div class="bottom">
          <p>Голосование</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
