ion-header{
  --background: #EEEEEE;
  padding: 0.5rem 1rem 0 0.5rem;

  ion-toolbar{
    --background: #EEEEEE;

    ion-menu-button{
      --padding-bottom: 0.5rem;
      font-size: 1.7rem;
    }
  }
}

.profile{
  //margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .left{
    width: fit-content;
    margin-right: 0.5rem;

    p{
      margin: 0;
      padding: 0;
    }

    .name{
      font-size: 1rem;
      font-weight: 800;
      margin-bottom: 0.5rem;
    }

    .role{
      font-size: 0.9rem;
    }
  }

  .right{
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 0.5rem;

    img{
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
    }
  }
}

ion-content{
  --background-color: #eeeeee;
}

.content{
  width: 100%;
  min-height: 100%;
  background-color: #eeeeee;
  padding: 1rem;

  h2{
    margin: 0;
  }
}

.notification{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: white;
  border-radius: 10px;

  p{
    padding: 0;
    margin: 0;
  }

  .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title{
      margin-top: 0.5rem;
      font-size: 1rem;
      font-weight: 800;
    }

    ion-icon{
      font-size: 1.5em;
    }
  }

  .text{
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}

.services-flexs {
  margin-top: 1rem;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.services-flexs-child {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  ion-icon{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    color: black;
  }

  p{
    margin: 0;
    padding: 0;
  }
}
