<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="tabs/home"
        text=""
        icon="chevron-back-sharp">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Бюро находок</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div id="noList" *ngIf="finds.length == 0; else filledList"> 
    <p>Нет находок</p>
  </div>

  <ng-template #filledList>     
      <ion-list>
        <ion-item lines="none" *ngFor="let find of finds; let id = index;" (click)="presentModal(find)">
            <ion-label class="ion-no-padding ion-no-margin">
              <h2>{{ find.title }}</h2>
              <p>{{ find.date }}</p>
            </ion-label>
        </ion-item>
      </ion-list>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="addBtn" [routerLink]="['/add-report']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
